<div class="container h-100 d-flex flex-column justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="m-auto d-flex flex-column w-25">
            <mat-card>
                <mat-card-header class="justify-content-center">
                <mat-card-title>
                    <p class="text-light text-center">Login</p>
                </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="w-100">
                        <mat-label>Usuário</mat-label>
                        <input matInput type="text" formControlName="username">
                    </mat-form-field>
                    
                    <mat-form-field class="w-100">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-error *ngIf="submitted && loginForm.valid" class="mb-3">Usuário/Senha inválidos</mat-error>
    
                    <div class="d-flex justify-content-center">
                        <button type="submit" mat-raised-button>Entrar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</div>