<h1 mat-dialog-title>Pagamento</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="image" />
        <div class="d-flex flex-column">
            <mat-form-field color="accent">
                <mat-label>Usuário</mat-label>
                <input matInput type="text" maxlength="20" formControlName="username" class="text-lowercase">
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Nome</mat-label>
                <input matInput type="text" maxlength="30" formControlName="name">
            </mat-form-field>
    
            <mat-form-field color="accent">
                <mat-label>Título</mat-label>
                <input matInput type="text" formControlName="title" maxlength="30">
            </mat-form-field>
    
            <mat-form-field color="accent">
                <mat-label>Data</mat-label>
                <input matInput type="date" formControlName="date">
            </mat-form-field>
    
            <mat-form-field color="accent">
                <mat-label>Valor</mat-label>
                <input matInput currencyMask formControlName="value" maxlength="14" 
                    [options]="{ align: 'left', prefix: '', thousands: '.', decimal: ',', allowNegative: false,  }" />
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-around">
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
    <button id="btn-salvar" mat-button (click)="save()" [disabled]="carregando">Salvar</button>
</div>