<div class="container mat-elevation-z8 py-3">
    <div class="d-flex justify-content-between align-items-baseline">
      <form [formGroup]="searchForm" (submit)="listar()" class="w-25">
        <mat-form-field color="accent" class="w-100">
          <input matInput #filter placeholder="Pesquisar por título" formControlName="term" />
        </mat-form-field>
      </form>

      <button type="button" mat-raised-button (click)="mostrarFormulario()">Adicionar</button>
    </div>
    <app-data-table 
      [dataSource]="dataSource" 
      [displayedColumns]="displayedColumns"
      (pagar)="mostrarConfirmacao($event, 'pagamento')"
      (remover)="mostrarConfirmacao($event, 'remoção')"
      (alterar)="mostrarFormulario($event)"
      (ordenar)="ordenar($event)">
    </app-data-table>
    
    <mat-paginator #paginator
      [length]="this.eventoPagina.length"
      [pageIndex]="eventoPagina.pageIndex"
      [pageSize]="eventoPagina.pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      color="accent"
      (page)="paginacao($event)">
    </mat-paginator>
</div>
